{{define "main"}}

    <!-- Section de présentation avec photo à gauche -->
    
    <section id="presentation">
        <div class="presentation-title">
            <h1>Alexandre Myara</h1>
            <h2>Deep Learning engineer</h2>
        </div>
        <div class="presentation-container">
                <img src="/image/index/photo-alexandre-myara.png" alt="Photo d'Alexandre Myara">

            <p>
                Hello there! I am an AI engineer graduate from Télécom SudParis and the MS in AI at Télécom Paris.
                I also attended ENS–Dauphine M2 IASD (Mathematics).
                I’m interested in research on representation learning and generative modeling.
                I worked at ENS Paris in the Biocomputation team, where I developed a representation learning method
                to disentangle the latent space.
                Today, I’m looking for a PhD position in generative modeling or representation learning!
            </p>
        </div>
    </section>

    
    <section id="articles">
        <h2>Articles</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/posts/gen_transport/">Generative Modeling through transport theory</a></td>
                    <td>Mar 2026</td>
                </tr>
                <tr>
                    <td><a href="https://www.arxiv.org/abs/2601.21688">XFactors: Disentangled Information Bottleneck via Contrastive Supervision</a></td>
                    <td>Jan 2026</td>
                </tr> 
                <tr>
                    <td><a href="/pdfs/report.pdf" target="_blank" rel="noopener">Refine anatomic segmentation with NVAE</a></td>
                    <td>Feb 2025</td>
                </tr>                
                <tr>
                    <td><a href="/posts/vae_blog_en/">Understand image generation with VAE</a></td>
                    <td>Oct 2024</td>
                </tr>
                <tr>
                    <td><a href="/posts/dataset_blog_en/">How to construct multimodal datasets effeciently ?</a></td>
                    <td>Aug 2024</td>
                </tr>
            </tbody>
        </table>
    </section>

    
    <section id="cv">
        <h2>
            CV
        </h2>
        

        
        <section id="project">
            <h3>
                Project
            </h3>
            <p>
                XFactors: build a disentangled latent space with toy and real-world datasets (IBENS, ENS Paris) - 2025/2026<br>
                NVAE based-architecture to refine anatomic segmentation (LTCI, Telecom Paris) - 2024<br>
                Semantic segmentation of tumors on MRI via UnET/ViT (Computer vision dept., Telecom SudParis) - 2023<br>
            </p>
        </div>
    </section>

        <section id="education">
            <h3>
                Education
            </h3>
                <ul>
                    <li>
                        <b>ENS Paris/Dauphine - IASD Math </b> - 2024/2025
                        <div class="course_description">
                            Bayesian Statistics, Learning Theory, Optimal Transport
                        </div>
                    </li>
                    <li>
                        <b>Télécom Paris - MS IA (3rd year engineer)</b> - 2024/2025
                        <div class="course_description">
                            Deep Learning, NLP, Advanced Probabilities, Reinforcement Learning.
                        </div>
                    </li>
                    <li>
                        <b>Polytechnique Montréal - AI Track</b> - 2023/2024
                        <div class="course_description">
                            NLP, Image Analysis, Machine Learning, Mathematics for Deep Learning
                        </div>
                    </li>
                    <li>
                        <b>Télécom SudParis - 1st and 2nd year engineer</b> - 2022/2024
                        <div class="course_description">
                            Signal Processing, Image Analysis, Java, Software Developpement, <br>
                            Machine Learning, Complexe Analysis, Probabilities and Statistics
                        </div>
                    </li>
                </ul>
        </section>
{{end}}
